.chapter-container {
  width: 100%;
  display: block;
  height: 30px;
  position: relative;
  
  -webkit-box-shadow: 0px 6px 8px -5px rgba(184,178,184,1);
  -moz-box-shadow: 0px 6px 8px -5px rgba(184,178,184,1);
  box-shadow: 0px 6px 8px -5px rgba(184,178,184,1);
}

.chapter-container > nav > ul > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}

.panel {
  margin-bottom: 0px !important;
}

.panel-body {
  padding: 5px !important;
}

.panel-default {
  border-color: rgba(159,168,218, 0.65) !important;
  height: 100%;
}

.panel-default > .panel-heading {
  color: white !important;
  background-color: #5C6BC0 !important;
  padding: 3px 15px;
}

hr {
  border-top: 1px solid rgba(159,168,218, 0.65) !important;
  margin-top: 5px !important;;
  margin-bottom: 5px !important;;
}


.sidenav {
  float: left;
  height: 100%;
  width: 200px;
  background: #F0F0F0;
  overflow-y: scroll;

  -webkit-box-shadow: 4px 0px 8px -1px rgba(196,188,196,1);
  -moz-box-shadow: 4px 0px 8px -1px rgba(196,188,196,1);
  box-shadow: 4px 0px 8px -1px rgba(196,188,196,1);
}


.control-menu > ul, .sidenav > ul {
  list-style-type: none;
}

.control-menu a, .sidenav a {
  display: block;
  text-decoration: none;
  padding: 5px 5px 5px 15px;
  font-size: 15px;
  border-radius: 5px;
}

.control-menu ul, .sidenav ul {
  padding-left: 0;
  margin-top: 0;
}

.control-panel-container {
  float: left; 
  width: calc(50% - 15px); 
  height: 100%;
}

.control-panel-container a{
  font-size: 12px;
}

.control-menu {
  list-style-type: none; 
  padding: 0px;
}


/**/

.description-container {
  float: left; 
  width: calc(50% - 15px);
  margin-left: 10px; 
  margin-right: 10px;
  height: 100%;
}


.web-editor-container {
  height: 85%; width: 100%; padding: 0px 10px; padding-top: 10px;
}

#editor {
  float: left; 
  height: 100%; 
  width: calc(50% - 5px); 
  border: 1px solid rgba(159,168,218, 0.65) !important;
  border-radius: 4px;
}

#result {
  display: inline-block; 
  height: 100%; 
  margin-left: 10px; 
  width: calc(50% - 5px); 
  border: 1px solid rgba(159,168,218, 0.65) !important;
  border-radius: 4px;
}

.chapter-title {
  padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background: #5C6BC0;
    color: white;
}

.container {
  width: 100% !important; 
  margin-top: -20px;
  height: calc(100% - 118px);
  padding-right: 0px !important;
  padding-left: 0px !important; 
  margin-right: 0px !important; 
  margin-left: 0px !important; 
}

.content-container {
  width: 100%; 
  height: calc(100% - 40px); 
  position: table;
}

.right-selction {
  width: calc(100% - 200px); 
  height: 100%; 
  padding-top: 10px; 
  margin-left: 200px;
}

.information-container {
  height: 15%; 
  width: 100%; 
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background: #5C6BC0 !important;
  color: white !important;
}
